<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galang.tahsin_beta_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/star"
        android:label="Tahsin Quran"
        android:roundIcon="@mipmap/star"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".TestingActivity"
            android:label="Baca ayat"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.PARENT_ACTIVITY"
                android:value=".PilihAyatActivity"
                />
        </activity>

        <activity android:name=".PilihSuratActivity"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PilihAyatActivity"
            android:launchMode="singleTop"
            android:label="Pilih Ayat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PilihSuratActivity"
                />
        </activity>
    </application>

</manifest>